body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Serif;
}
.wrapper{
    position: relative;
    margin: auto;
}
#info{
    position: absolute;
    top: 0;
    left: 0;
}
#canvas{
    /*border: 1px solid #000;*/
    margin: auto;
}
h1{

    margin: 50px auto;
}
li{
    padding-bottom: 10px;
}
.green{
    color: rgb(61 194 63);
}
.red{
    color: #F34C44;
}
.blue{
    color: #4682b4;
}
